<head>
    <style type="text/css">
        html,
        body {
            height: 100%;
        }

        html {
            display: table;
            max-width: 360px;
            margin: auto;
            font-size: 1.25em;
            color: grey;
            background-color: cornsilk;
        }

        div,
        h1,
        h2 {
            text-align: center;
        }

        .group {
            display: flex;
            flex-direction: row;
            margin: 10px;
        }

        .category {
            margin: auto;
            min-width: 40px;
            font-size: 1.5em;
            font-weight: lighter;
            text-transform: uppercase;
        }

        .aliasholder {
            border: solid black 1px;
            margin: 5px;
            min-width: 250px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        .alias {
            flex-grow: 1;
            margin: auto;
            cursor: pointer;
        }

        .bin {
            margin: auto;
            padding: 5px;
            border: none;
            cursor: pointer;
            background-color: inherit;
        }

        .vertical {
            border-left: 1px solid gray;
            margin: 10px;
        }

        form {
            margin: auto;
        }

        .new {
            width: 90%;
            margin: auto;
            height: 35px;


            position: fixed;
            left: 5%;
            bottom: 5px;

            display: flex;
        }

        .new>input[type=text] {
            font-size: 1em;
            text-align: center;
            color: grey;

            flex-grow: 1;
            width: 80%;
        }

        .new>input[type=submit] {
            text-align: center;
            margin-left: 5px;
        }

        .pending {
            background-color: #ffa500ab;
            color: #282828;
        }
    </style>
    {% if autorefresh != 0 %}
    <meta http-equiv="refresh" content="{{ autorefresh }}">
    {% endif %}

    <script>
        function copy(elem) {
            console.log(elem)
            navigator.clipboard.writeText(elem.innerText + "@nsvir.fr")
        }
    </script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
{% block body %}

<form class="new" action="/new" method="POST">
    <input name="new_alias" type="text" onClick="this.select();" value="{{nextTmp}}" required autocomplete=off
        autocapitalize="none">
    <input type="submit" value="new">
</form>

<div style="margin-bottom: 35px;">

    {% for letter, subaliases in aliases %}
    <div id="{{letter}}" class="group">
        <div class="category">{{letter}}</div>
        <div class="vertical"></div>
        <div class="holder">
            {% for alias in subaliases %}
            <div class="aliasholder  {{alias.status}}">
                <div class="alias" onclick="copy(this)">{{ alias.alias }}</div>
                <div style="border-left: 1px solid gray;"></div>
                <form action="/delete/{{ alias.alias }}" method="post"
                    onsubmit="return confirm('Delete {{ alias.alias }} ?');">
                    <input class="bin" type="submit" value="🗑️">
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}